body{
    background-color: #92A8D1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #242424;
}
header{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    background-color: #454343;
    padding: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
}
.child{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 85%;
    margin: 100px auto;
}
form{
    display: flex;
    background-color: #242424;
    padding: 20px;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 2px #fff;
    gap: 10px;
}
form input,button{
    padding: 10px;
    background-color:#242424;
    border: none;
    box-shadow: 0 0 2px #fff;
    border-radius: 8px;
    outline: none;
    max-width: 100%;
    width: 50%;
    font-size: 22px;
    color:#fff;
    cursor: pointer;
}
input:focus{
    border: 2px solid #fff;
}
::placeholder{
    color: #fff;
    opacity: 0.5;
}
form button{
    max-width: 100%;
    width: 90px;
    background-color: #DC4C3E;
    box-shadow: none;
}
form button:hover{
    background-color: #c14034;
    border: none;
}
form button:active{
    color: #000;
    background-color: #fff;
}
.item-component{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color:#242424;
    border-radius: 8px;
    padding: 20px;
    color: #fff;
    box-shadow: 0 0 2px rgb(239, 239, 194);
    position: relative;
}
.item-component p{
    font-size: 24px;
}
.fa-check{
    color: green;
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
}
.checked{
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    background-color: green;
}
.check-icon-container{
    position: absolute; 
    right: 50%;
    cursor: pointer;
}
.item-component button{
    padding: 10px;
    width: 85px;
    border-radius: 8px;
    background-color: #f44b3b;
    cursor: pointer;
    box-shadow:none;
}
.item-component button:hover{
    background-color: #c14034;
}
.item-component button:active{
    background-color: #fff;
    color: #000;
}
.completed{
    text-decoration: line-through;
}

.footer-container{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #454343;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    color: #fff;
    gap: 10px;
    font-size: 25px;
}
@media (max-width:768px) {
    .footer-container{
        font-size: 20px;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}
